.content-wrapper {
    margin: 0 auto;
}

.content-wrapper-full{
    margin: 0 auto;
}

/* Drag and drop layout styles */

.dnd-section > .row-fluid {
    margin: 0 auto;
}

@media (max-width: 767px) {
    .dnd-section .dnd-column {
        padding: 0;
    }
}